* {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 1px;
}

body {
    overflow-x: hidden;
}

.center-logo {
    vertical-align: middle;
}

.container {
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1320px; margin: 0 auto;
}

.text-blue {
    color: #3597ff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
   
}

.gray-thin {
    color: #566b8d;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 19.2px;
    margin: 1.5rem 0;
}

.text-gray {
    color: #566b8d;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
}

.ml {
    margin-left: 8.9rem;
}


.pd {
    padding-top: 48px;
    padding-bottom: 48px;
}


h1 {
    font-size: 40px;
    margin-bottom: 24px;
    max-width: 451px;
}

h2 {
    font-size: 40px;
}



.fw-light {
    font-weight: 300;
}

.fw-bold {
    font-weight: 700;
}

.mb-5 {
    margin-bottom: 2rem;
}

.fw-bold {
    line-height: 1;
    font-weight: 700;
}

.text-align-center {
    text-align: center;
    margin-bottom: 48px;
}

.my-4{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-3 {
    margin-top: 10px;
    margin-bottom: 18px;
}

.mr-1 {
    margin-right: 10px;
}

.mb-xl-5 {
    margin-bottom: 48px;
}

.fw-bold-small {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
}

.pd-t {
    padding-top: 24px;
}

.pd-l {
 padding-left: 60px;
}

.fw-light-small {
    font-size: 28px;
    line-height: 33.6px;
    font-weight: 500;
    }

.text-gray-small {
    color: #566b8d;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16.8px;
}

.text-black {
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
}

.black-thin {
    color:black;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 24px;
}

.text-gray-footer {
    color: #566b8d;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 19.5px;
}
