* {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 1px;
}

nav {
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: black;
    text-decoration: none;

}

.nav a:hover {
    color: #3597ff;
}
.main-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
}

#main-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3597ff;
    text-align: center;
    margin-bottom: 48px;
}

.container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 118px;
    margin-right: 118px;
    max-width: 1200px; margin: 0 auto;
}

.main-img {
    max-height: 26.125rem;
    margin-right: 118px;
    padding-left: 118px;
}

.text-white {
    color: white;
    text-align: start;
}

.pd {
    padding-top: 48px;
    padding-bottom: 48px;
}


h1 {
    margin-bottom: 24px;
    max-width: 451px;
}

.fw-light {
    font-weight: 300;
    font-size: 40px;
}

.fw-bold {
    font-weight: 700;
}

.mb-5 {
    margin-bottom: 3rem;
}

#why {
    text-align: center; 
}


.text-gray {
    color: #566b8d
}

h5 {
    font-size: 20px;
}

.why-items-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3rem;
}

.why-item{
    text-align: left;
}

.vision-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
}

.vision-text {
    text-align: left;

}

.vision-items-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.vision-item{
    width: 233px;
    height: 183px;
    border-radius: 4px;
    text-align: right;
}


#vision .vision-item:nth-child(1) {
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
}

#vision .vision-item:nth-child(2) {
    color: #5cc19a;
    background-color: rgba(156, 238, 204, 0.4);
}

#vision .vision-item:nth-child(3) {
    color: #dbca68;
    background-color: rgba(238, 226, 156, 0.4);
 }

#vision .vision-item:nth-child(4) {
    color: #b95e73;
    background-color: rgba(238, 156, 156, 0.4);
}

.fw-bold {
    line-height: 1;
    font-weight: 700;
}

.count {
    font-size: 90px;
}

.type {
    font-size: 18px;
}

.labs-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.labs-items-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
