.discord-btn {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 6px 10px;
  border-radius: 50rem;
  border: 1px solid transparent;
  text-align: center;
  color: #989ca2;
  font-size: 12px;
  cursor: pointer;
}

.header-text {
    padding: 10px 10px;
    font-size: 13px;
}

.btn-primary {
    padding: 17px;
    font-size: 14px;
    background-color: #3597ff;
    border-color: #3597ff;
    border-radius: 6px;
    color: white;
    border: 0 solid transparent;
    cursor: pointer;
    letter-spacing: 1px;
    display: inline-block;
    white-space: nowrap;
  }

  
nav {
    padding:12px 250px;
    font-size: 14px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 4fr 155px;
    align-items: center;
   
}


.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: black;
    text-decoration: none;

}

.nav a:hover {
    color: #3597ff;
}
.main-header {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    border-bottom: 1px solid #d7eaff;
}

#main-visual {
    background-color: #3597ff;
}

.shape{
    position: absolute;
    max-width: 482px;
    top: 300px;
    left: 1680px;
    
 }

.container-main{
    padding-left: 12px;
    padding-right: 12px;
}

.main-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-text {
    text-align: left;
    padding-top: 100px;
    padding-left: 250px;
}

.main-img {
    max-height: 26.125rem;
    margin-right: 118px;
    padding-left: 118px;
}

.text-white {
    color: white;
}

.warning {
    display: flex;
}

.important {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: red;
}

.warning-icon {
    width: 16px;
}


#why {
    text-align: center; 
}


.text-gray {
    color: #566b8d;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
}

h5 {
    font-size: 20px;
}

.why-items-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3rem;
    width: 90%;
    margin: auto;
}

.why-item{
    text-align: left;
}

.why-item h5 {
    margin: 0.5rem 0;
}

.vision-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
}

.vision-text {
    text-align: left;
    padding-right: 100px;
    padding-top: 80px;
}

.vision-items-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.vision-item{
    width: 233px;
    height: 183px;
    border-radius: 4px;
    text-align: right;
}


#vision .vision-item:nth-child(1) {
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
}

#vision .vision-item:nth-child(2) {
    color: #5cc19a;
    background-color: rgba(156, 238, 204, 0.4);
}

#vision .vision-item:nth-child(3) {
    color: #dbca68;
    background-color: rgba(238, 226, 156, 0.4);
 }

#vision .vision-item:nth-child(4) {
    color: #b95e73;
    background-color: rgba(238, 156, 156, 0.4);
}

.count {
    font-size: 90px;
    margin-top: 3rem;
    margin-right: 1.5rem;
}

.type {
    font-size: 18px;
    margin-right: 1.5rem;
}

.labs-text{
    padding-top: 50px;
}

.labs-item {
    padding: 1.5rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    
}

.labs-item:hover {
    box-shadow: 0px 0.95237px 23.8092px rgb(99 118 149 / 15%);
  }

.labs-item:hover .arrow {
    fill: #3597FF;
    opacity: 1;
  }


.labs-item p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 21px;
    padding-top: 10px;
    flex: 1 1 auto;
    margin-bottom: 10px;
}

.labs-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    
}

.labs-items-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.justify-content-school{
    justify-self: stretch;
}

.schools-wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 100px auto; 
    padding-bottom: 40px;
    
}
.schools-items-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.school-item {
    display: grid;
    grid-template-columns:max-content;
    max-width: 500px;
}

.schools-text {
    text-align: center;
}

.school-img {
    width: 500px;
}

.school-info{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: end;
}
.students-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
}

.students-img {
    max-width: 650px;
}

#students {
    background-color: #f3f9ff;
}

.students-info {
    text-align: left;
    margin-top: 120px;
    margin-right: 180px;
}

.person {
    display: flex;
}

.student-text {
    margin-left: 10px;
}

.shape-green {
    position: absolute;
    max-width: 482px;
    top: 2100px;
    left: 1680px;
}

.arrow {
    fill: #71829F;
    opacity: 0.5;
}


.join-items-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.join-item:hover {
    box-shadow: 0px 0.95237px 23.8092px rgba(99, 118, 149, 0.15);
    cursor: pointer;
}

.join-item:hover .arrow {
    fill: #3597FF;
    opacity: 1;
  }

.join-item {
    padding: 1.5rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .join-item p {
    flex: 1 1 auto;
  }

  .special-items  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    padding: 0px 200px;
}

.team-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.team-picture {
    border-radius: 0.25rem;
    width: 306px;
}

.kubova {
    height: 500px;
    width: 1224px;
    border-radius: 19px;
    object-fit: cover;
}

.labmasters-item {
    padding: 40px 32px;
    background: #A54FA2;;
    width: 520px;
    position: absolute;
    top: 30px;
    left: -120px;
    border-radius: 6px;
}

.labmasters-wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 500px;
    padding-top: 100px;
    padding-bottom: 48;
}

.white-bold {
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.white-small {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.projects-header {
    text-align: center;
}

.project-img {
    width: 636px;
    height: 350px;
    border-radius: 20px;
}

.projects-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.support-img {
    width: 660px;
}

.support {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.support-button {
    display: flex;
    color: #3597ff;
    text-decoration: none;
    gap: 8px;
}

.behind-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.behind-img {
    margin-right: 50px;
}

.center {
    display: flex;
    align-items: center;
}

.content-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 

 }

 .content-img {
    width: 320px;
    height: 320px;
}

.modern-img {
    width: 636px;
    height: 357px;
}

.modern-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.super-img {
    width: 262px;
    height: 75px;
}

.points-img {
    width: 105px;
    height: 105px;
}

.binary-img {
    width: 203px;
    height: 86px;
}

.kont-img {
    width: 272px;
    height: 54px;
}

.pelikan-img {
    width: 66px;
    height: 64px;
}
  