* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 1px;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: black;
    text-decoration: none;

}

.nav a:hover {
    color: #3597ff;
}
.main-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
}

.main-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3597ff;
    text-align: center;
    margin-bottom: 48px;
}


.text-container {
    max-width: 1140px;
    margin-left: 118px;
}

.main-img {
    max-height: 26.125rem;
    margin-right: 118px;
    padding-left: 118px;
}

.text-white {
    color: white;
    text-align: start;
}

h1 {
    margin-bottom: 24px;
    max-width: 451px;
}

.fw-light {
    font-weight: 300;
    font-size: 40px;
}

.fw-bold {
    font-weight: 700;
}

.mb-5 {
    margin-bottom: 3rem;
}

.why-openlab {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
}

.why-container {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.text-gray {
    color: #566b8d
}

h5 {
    font-size: 20px;
}

.why-items-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.why-item{
    text-align: left;
}